<div class="ui small menu nav-padding">
  <%= current_process.name %>
  <div class="right menu">
    <div class="item">
      <%= link_to "<b>Ir a Procesos Generales</b>".html_safe, admin_delete_current_process_path, method: :put %>
    </div>
    <div class="item">
      <div class="nav-info">
        <%= School.first.name %><br>
        <b><%= current_admin.full_name %></b>
      </div>
    </div>
    <div class="item">
      <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"ui red basic button" %>
    </div>
  </div>
</div>