<h1>Bienvenido(a) a eVote</h1>
<p>Aplicación web para gestionar el proceso de sufragio de una facultad perteneciente a la UNMSM</p>
<p>eVote trabaja con 3 tipos de usuarios: Admin, Miembros de mesa and Votantes:</p>
<h3><b>eVote</b> le permitirá realizar entre otros los siguientes procesos:</h3>
<ul>
	<li>Cargar y gestionar votantes</li>
	<li>Generar mesas de sufragio acordes con la cantidad de votantes</li>
	<li>Generar miembros de mesa acorde a la cantidad de mesas de sufragio</li>
	<li>Crear cuentas para los miembros de mesa</li>
	<li>Buscar, generar y gestionar información de manera eficaz</li>
	<li>Generar reportes</li>
</ul>
<br><br>
<h1 id="evote">eVote</h1>