<h1><%= @polling_station.name %></h1>
<table class="ui table table-ps-style">
	<thead></thead>
	<tbody>
		<tr>
			<td><b>Código:</b></td>
			<td><%= @polling_station.code %></td>
		</tr>
		<tr>
			<td><b>Miembro de mesa:</b></td>
			<td>
				<% if @polling_station.member.blank? %>
					Ningún miembro de mesa ha sido asignado
				<% else %>
					<%= @polling_station.member.full_name %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>
<h3>Votantes asignados <%= link_to "Registrar votantes aleatoriamente", asign_random_voters_admin_polling_station_path, class:"ui basic green button margin-create", remote: true %></h3>
<div id="partial-voters">
	<%= render 'voters', polling_station: @polling_station %>
</div>
<br>
<%= link_to "Volver", admin_polling_stations_path, class:"ui basic red button" %>