/*
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

#container-process{
	margin-left: 1%;
	margin-right: 1%;
}

.ui.margin-create{
	margin-left: 25px !important;
}

#general-info{
	font-size: 18px;
  padding: 7px 0px 0px 15px;
  font-weight: bold;
}

.ui.polling_processes_path{
	background-color: black;
}

#create-form{
  max-width: 70%;
  margin: 0 auto;
}