/*
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

#container-process{
  margin-left: 18%;
  margin-right: -0.5%;
}

.ui.margin-create{
	margin-left: 25px !important;
}

#general-info{
	font-size: 18px;
  padding: 7px 0px 0px 15px;
  font-weight: bold;
}

.ui.polling_processes_path{
	background-color: black;
}

#style-form{
  max-width: 70%;
  margin: 0 auto;
}

.evote-logo{
  line-height: 6em;
  font-size: 4em;
  color: white;
  font-weight: bold;
  margin-left: 16%;
}