<%= form_for process, html: { id:"style-form", class:"ui form" }, remote: true do |f| %>
  <div class="field">
    <label>Nombre del Proceso</label>
    <%= f.text_field :name, placeholder: "Ingrese nombre" %>
  </div>
  <div class="field">
    <label>Descripción</label>
    <%= f.text_area :description, placeholder: "Ingrese una descripción para este nuevo Proceso", rows: "2" %>
  </div>
  <br>
  <div class="pull-right">
    <%= f.submit "#{status} Proceso", class:"ui green basic button" %>
    <%= link_to "Cancel", polling_processes_path, class:"ui red basic button" %>
  </div>
<% end %>